<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.web3.dao.BoardMapper">

  <sql id = "selectBoard">
    select bno,
           title,
           content,
           writer,
           view_cnt,
           comment_cnt,
           reg_date,
           up_date
    FROM BOARD
  </sql>

  <select id="count" parameterType="BoardDTO" resultType="Integer">
    SELECT COUNT(*)
    FROM BOARD
  </select>

  <insert id="insert" parameterType="BoardDTO">
    INSERT INTO BOARD(title, content, writer, view_cnt, comment_cnt, reg_date, up_date)
    VALUES(#{title}, #{content}, #{writer}, #{view_cnt}, #{comment_cnt}, now(), now())
  </insert>

  <select id="selectAll" resultType="BoardDTO">
    SELECT *
    FROM BOARD
  </select>

  <select id="select" parameterType="Integer" resultType="BoardDTO">
    SELECT *
    FROM BOARD
    WHERE bno = #{bno}
  </select>

  <update id="update" parameterType="BoardDTO">
    UPDATE BOARD
    SET title = #{title}, content = #{content}, writer = #{writer}, Up_date = now()
    WHERE bno = #{bno}
  </update>

  <delete id="delete">
    DELETE
    FROM BOARD
    WHERE bno = #{bno}
  </delete>

  <delete id="deleteAll">
    TRUNCATE BOARD
  </delete>

  <update id="incrementViewCnt" parameterType="BoardDTO">
    UPDATE BOARD
    SET view_cnt = view_cnt+1
    where bno = #{bno}
  </update>

  <select id="selectPage" parameterType="map" resultType="BoardDTO">
    <include refid="selectBoard"/>
    ORDER BY reg_date DESC, bno DESC
    LIMIT #{offset}, #{pageSize}
  </select>
</mapper>